.Display {
    background-color: var(--display-background);
    width: 85%;
    text-align: right;
    font-size: var(--number-font-size);
    padding: 1rem;
    border-radius: .6rem;

    &__span {
        color: var(--text-color-1);
    }
}

@media screen and (min-width: 1024px) {
    .Display {
        max-width: 30%;
    }
}