.Header {
    @include flexContainer(row, center, space-between, null);
    width: 85%;
    margin-top: 2rem;
    color: var(--text-color-1);
}

@media screen and (min-width: 1024px) {
    .Header {
        max-width: 30%;
    }
}