/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

/* Variables */
:root {
    /* Color palette */
    /* Theme 1 */
    --main-background: hsl(222, 26%, 31%);
    --toggle-and-keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);

    --key-background-1: hsl(225, 21%, 49%);
    --key-shadow-1: hsl(224, 28%, 35%);
    --key-background-2: hsl(6, 63%, 50%);
    --key-shadow-2: hsl(6, 70%, 34%);
    --key-background-3: hsl(30, 25%, 89%);
    --key-shadow-3: hsl(28, 16%, 65%);

    --text-color-1: hsl(0, 0, 100%);
    --text-color-2: hsl(221, 14%, 31%);
    --box-shadow: hsla(210, 75%, 27%, 0.1);

    /* Typography */
    --primary-font: 'Spartan', sans-serif;

    --number-font-size: 32px;

    --font-weigth-bold: 700;

    --atributtion-font-size: 0.6875rem;
    --link-color: hsl(228, 45%, 44%);

    font-size: 18px;
}

/* Reusable Code */
@mixin flexContainer($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

/* Mobile 320px */
/* Base */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background-color: var(--lt-very-light-gray);
}

a {
    color: var(--link-color); 
}

button {
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
    }
}
.attribution { 
    font-size: var(--atributtion-font-size); 
    text-align: center; 
}


/* Layout - 375px Mobile Medium */

.App {
    
}

/* Modules - 375px Mobile Medium */
@import "./Header";
@import "./Display";
@import "./Buttons";
@import "./Footer";